@import '../../../assets/styles/scss/config-styles/vars';

.numberSection {
  position: relative;

  display: flex;
  align-items: center;

  margin-right: 36px;
  margin-left: 36px;

  .numberInput {
    background-color: $default-bg-color;

    input {
      width: $number-input-width;
      height: $number-input-height;

      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-decoration: underline;

      padding: 4px 6px 4px 20px;
    }
  }
}

.disableBtn {
  cursor: default !important;

  svg {
    path {
      stroke: #BFBFBF;
    }
  }
}

.arrowBtn {
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;

  transition: opacity 0.3s;

  &:where(:hover) {
    opacity: 0.5;
  }

  path {
    transition: stroke 0.5s;
  }
}
