$default-bg-color: #F2F2F2;
$default-text-color: #000000;
$default-font-weight: 400;
$default-font-family: 'JetBrains Mono';

$border-color: #BABABA;
$button-color: #377DFF;
$grey-color: #818181;
$red-color: #D32F2F;
$orange-color: #F57C00;
$green-color: #388E3C;

$hover-button-color: rgba(222, 226, 232, 0.9);

$border-grey-color: #D6DEE6;

$field-horiz-padding: 15px;
$page-horiz-padding: 16px;
$page-vertic-padding: 24px;

$home-header-margin-bot: 20px;

$number-input-width: 120px;
$number-input-height: 40px;
