@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*
// example of the src: url(../../../fonts/Araboto-Thin-400.ttf)

@font-face {
  font-family: 'Segoe UI';
  font-weight: 300;
  src: local('Segoe UI'), url(../../../fonts/SegoeUI-Light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 400;
  src: local('Segoe UI'), url(../../../fonts/SegoeUI.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 500;
  src: local('Segoe UI'), url(../../../fonts/SegoeUI-SemiBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: bold;
  src: local('Segoe UI'), url(../../../fonts/SegoeUI-Bold.ttf) format('truetype');
  font-display: swap;
}
*/
